@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .holder {
    @apply w-11/12 ml-auto mr-auto;
  }
}

html {
  scroll-behavior: smooth;
}

.scroll-y-hidden {
  overflow-y: hidden;
  overflow-x: scroll;
}

.scroll-y-hidden::-webkit-scrollbar {
  height: 0;
}


.circle-group > img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition:  opacity 200ms ease;
}

.circle-group > img:first-child {
  opacity: 1;
}

.circle-group > img:last-child {
  opacity: 0;
}

.circle-group:hover > img:first-child {
  opacity: 0;
}

.circle-group:hover > img:last-child {
  opacity: 1;
}